@font-face {
  font-family: 'gilroy';
  src: url('./gilroy/Gilroy-Regular.ttf'), url('./gilroy/Gilroy-Medium.ttf'),url('./gilroy/Gilroy-Thin.ttf'),;
}


* {
  margin: 0;
  padding: 0;
  font-family: 'gilroy';
  // outline: 1px solid blue;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: absolute;

  :link {
    color: black;
  }
}

.header {
  height: 10%;
  max-width: 100%;
  display: flex;
  flex-direction: row-reverse;
  margin-right: 5rem;
  margin-top: 1.5rem;
  padding: 1.5rem;
  gap: 2rem;
  font-size: 1.5rem;

  .header__sobre {
    text-align: center;
    background-color: #7bb5b671;
    height: 2rem;
    width: 8rem;
  }

  a {
    text-decoration: none;
    height: 1.8rem;
  }

    a:visited {
      color: black;
    }

    a::after {
      content: '';
      display: block;
      margin: auto;
      height: 3px;
      width: 0px;
      transition: width .5s ease, background-color .5s ease;
      }

    a:hover::after {
      width: 100%;
      background: rgb(41, 134, 171);
    }  
}

.content {
  height: 70%;
  width: 75%;
  margin: auto;
  display: flex;
  align-items: center;
  gap: 4rem;

  .content__img {
   background-image: url('./images/foto-novia-2.jpg');
   background-size: cover;
   background-repeat: no-repeat;
   width: 35%;
   height: 100%;
   z-index: -2;
  }

  .content__text {
    width: 65%;
    height: 85%;

    h2 {
      font-weight: 100;
      font-size: 3.8rem;
    }

    p {
      font-size: 1.6rem;
      margin-top: 2.8rem;
    }
  }

  a {
    text-decoration: none;
  }

  .content__square {
    display: flex;
    height: 10%;
    width: 60%;
    background-color:#86c9cd;
    margin-top: 2rem;
    color: white;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 6px;
    font-size: 1.7rem;
    transition: all .3s;
    cursor: pointer;
    padding: 10px;
  }
  .content__square:hover {
    transform: scale(1.05);
  }
}


body::before {
    content: '';
    position: fixed;
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    background-image: url('./images/fondo-espacial.png');
    background-size: contain;
    filter: drop-shadow(1px 1px 20px rgba(46, 111, 110, 0)) invert(20%);
    z-index: -1;
}
