@font-face {
  font-family: 'gilroy';
  src: url('./gilroy/Gilroy-Light.ttf'), url('./gilroy/Gilroy-Medium.ttf'), url('./gilroy/Gilroy-Heavy.ttf');
}


* {
  margin: 0;
  padding: 0;
  font-family: 'gilroy';
  font-stretch: 1% 500%;
  // border: 1px solid blue;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  background-color: #acd3d5;
  position: absolute;


  :link {
    color: black;
  }
}

body::before {
  content: '';
  position: absolute;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  background-image: url('./images/fondo-espacial.png');
  background-size: contain;
  z-index: -1;
}

.header {
  height: 10%;
  max-width: 100%;
  display: flex;
  flex-direction: row-reverse;
  margin-right: 5rem;
  margin-top: 1.5rem;
  padding: 1.5rem;
  gap: 2rem;
  font-size: 1.5rem;
  font-weight: 600;

  .header__contacto {
    text-align: center;
    background-color: #ffffff71;
    height: 2rem;
    width: 7.3rem;
  }

  a {
    text-decoration: none;
    height: 1.8rem;
  }

    a:visited {
      color: black;
    }

    a::after {
      content: '';
      display: block;
      margin: auto;
      height: 3px;
      width: 0px;
      transition: width .5s ease, background-color .5s ease;
      }

    a:hover::after {
      width: 100%;
      background: rgb(41, 134, 171);
    }  
}

.photo {
  background-image: url('./images/foto-novia1.jpg');
  background-position: 35% 25%;
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: 18%;
  position: absolute;
  height: 66%;
  width: 35rem;
  z-index: -2;
  transition: all ease-in-out .5s;
}

.title {
  text-align: center;
  width: 100%;
  font-size: 2.5rem;
  padding: 1rem;
}

.container {
  margin: auto;
  width: 70%;
  height: 60%;
  display: flex;
  background-color: rgb(255, 255, 255);
  backdrop-filter: blur(5px);

  .container__form {
    display: flex;
    flex-direction: column;
    width: 45%;
    padding: 2rem;

    input {
      border: none;
      padding: 3px;
      background-color: #ffcbce;
      width: 70%;
      height: 1.5rem;
      margin-left: 10%;
      margin-bottom: 3rem;
      margin-top: .5rem;
    }

    label {
      margin-left: 10%;
      font-weight: bold;
      font-size: 1.2rem;

    }

    textarea {
      background-color: #ffcbce;
      margin-left: 10%;
      border: none;
      margin-top: .5rem;
      width: 70%;
      height: 35%;
      resize: none;
      letter-spacing: .1rem;
    }

    button {
      border: none;
      background-color: rgb(189, 193, 195);
      color: rgb(255, 255, 255);
      border-radius: 4px;
      width: 10rem;
      padding: 15px;
      margin-left: 31%;
      margin-top: 1.5rem;
      font-size: 1.2rem;
      cursor: pointer;
      transition: all .2s;
    }

    button:hover {
      background-color: rgb(41, 134, 171);
      transform: scale(1.05);
      box-shadow: 1px 1px 3px 3px rgba(143, 142, 142, 0.226);
    }
  }

  .container__content {
    width: 55%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    img {
      width: 50%;
      margin-top: 3rem;
      margin-right: 20%
    }

    h2 {
      margin-right: 15%;
      width: 100%;
    }
  }
}